<oppia-angular-root>
  <oppia-base-content>
    <navbar-breadcrumb class="note-homepage">
      <div class="nav navbar-nav oppia-navbar-breadcrumb main-note-homepage-mobile-breadcrumb">
        <span class="mx-3 oppia-navbar-breadcrumb-separator"></span>
        <span class="pt-3 mobile-navbar-note-homepage">
          {{ 'I18N_NOTE_HOME_PAGE_BREADCRUMB' | translate }}
        </span>
      </div>
    </navbar-breadcrumb>
    <content>
      <oppia-note-home-page></oppia-note-home-page>
    </content>
    <page-footer>
      <oppia-footer></oppia-footer>
    </page-footer>
  </oppia-base-content>
</oppia-angular-root>
